:root {
    --white: #FFFFFF;
    --yellow: #F4DF74;
    --dark-yellow: #C9AA0E;
    --black-grey: #353535;
    --black-total: #000000;
    --black-half: #00000080;
    --black-light: #0000001a;
    --grey: #e6e6e6;
    --grey-white: #ffffff33;
    --grey-total: #eeeeee;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", "Poppins", "Open Sans", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    z-index: 2;
}

.header__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
}

.number {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;
    pointer-events: auto;
}

.header__logo {
    text-align: center;
}

.header__logo-text {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 1.2;
}

.header__logo-title {
    color:var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.header__email-adress {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;
    pointer-events: auto;
}

.header__email-text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.header__center {
    text-align: center;
    position: relative;
    padding: 150px 0 150px 0;
}

.header__center-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
}

.header__center-title, .button {
    position: relative;
    z-index: 1;
}

.header__center-title {
    color:var(--white);
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 60px;
    font-weight: 800;
    max-width: 70%;
    margin: 0 auto;
}

.button {
    background-color: var(--yellow);
    color:var(--black-grey);
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;

    transition: background-color 0.3s linear;

}

.call_me_button {
    background: none;
    border: none;
    color:var(--white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: left;
    display: block;
    pointer-events: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-block {
    text-align: center;
    margin-bottom: 40px;
}

.section-block h2 {
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    font-size: 48px;
    font-weight: 800;
    margin: 0 auto;
    max-width: 70%;
}

.section-block p {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 20px auto 0;
    max-width: 50%;
}

.intro {
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

.intro__text {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    max-width: 738px;
    margin: 0 auto;
}

h1 {
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    max-width: 50%;
    margin: 50px auto;
}

/* Контейнер с товарами */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1129px;
    margin: 50px auto;
}

.product {
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 6px;
}

/* Контейнер с текстом под изображениями товаров */
.product__info {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
/* Название */
.product__title {
    font-size: 24px;
    color: var(--black-total);
    margin-right: 12px;
    line-height: 1.2;
}
/* Цена */
.product__price {
    font-size: 16px;
    color: var(--black-total);
    line-height: 1.5;
}

/* Секция с видео */
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1125px;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    margin: 20px auto;
    position: relative;
}

.video__description {
    color:var(--white);
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 10%;
    max-width: 40%;
}

.video__background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.video__overlay {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video__play-button {
    background-color: var(--grey-white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 1s, transform 2s;
    width: 105px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video:hover .video__play-button {
    background-color: dimgray;
    transform: scale(1.05);
}

.video__play-button::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid var(--white);
    margin-left: 8px;
}

/* Контейнер с производством для компаний и брендов */
.cooperation {
    background-color: var(--grey-total);
    max-width: 100%;
    margin: -7% auto;
}

.cooperation__intro {
    padding: 7% 7% 0 7%;
}

.cooperations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 100%;
    margin: 10px auto;
}

.cooperations__cart {
    text-align: center;
    padding: 5px;
    flex: 1 1 30%;
    max-width: 30%;
}

.cooperations__cart img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.cooperations__cart h3 {
    color: var(--black-total);
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 800;
    margin: 0 auto;
    max-width: 55%;
    text-align: center;
}

.cooperations__cart p {
    color: var(--black-total);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

/* Контейнер со способами нанесения принтов и вышивки */
.prints-techniques {
    max-width: 1150px;
    margin: 10% auto 0 auto;
    padding: 20px;
}

.prints-techniques__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.prints-techniques__content-cart {
    text-align: center;
    padding: 10px;
    flex: 1 1 calc(50% - 20px); /* Ширина: под 2 элемента в строке */
    box-sizing: border-box;
}

.prints-techniques__content-cart img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
}

.prints-techniques__content-cart h3 {
    color: var(--black-total);
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 800;
    max-width: 100%;
    margin-bottom: 10px;
}

.prints-techniques__content-cart p {
    color: var(--black-total);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

/* Контейнер с реализацией */
.realisation {
    position: relative;
    margin: 3% auto 0 auto;
    max-width: 1125px;
    height: auto;
    border-radius: 15px;
    background-image: url('../images/3_3.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-color: var(--black-half);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

/* Второе изображение внутри контейнера сразу за первым */
.realisation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../images/3_4.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: var(--black-half);
    z-index: -1;
    border-radius: 15px;
}

.realisation__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 738px;
    color: var(--white);
    margin: auto;
}

.realisation__h2 {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    max-width: 70%;
}

.realisation__description {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

/* Контейнер со схемой работы */
.scheme-of-work__container {
    background-color: #191919e3;
    margin: -5% auto 0 auto;
    padding: 20px;
    text-align: center;
}

.scheme-of-work__h2 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    font-size: 70px;
    font-weight: 800;
    margin-top: 7%;
}

.scheme-of-work__description {
    color:var(--white);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    max-width: 25%;
    margin: 0 auto 3% auto;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 8%;
}

.step {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.step__icon {
    width: 100px;
    height: 100px;
    background-color: #222222;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step__text {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    max-width: 80%;
    margin: 0 auto;
}

/* Контейнер о собственном производстве */
.actual-manufacturing {
    max-width: 1346px;
    margin: 3% auto 0 auto;
    padding: 20px;
}

.actual-manufacturing__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
}

.actual-manufacturing__content-cart {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.actual-manufacturing__content-cart img {
    width: 100%;
    border-radius: 6px;
}

/* Контейнер с адресами магазинов */
.shops {
    text-align: center;
    background-color: var(--grey);
    max-width: 1125px;
    max-height: 650px;
    padding: 50px 0;
    margin: 5% auto 0 auto;
    z-index: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.shops__locations {
    display: flex;
    justify-content: center;
    margin: 5% auto 0 auto;
}

.shop-location {
    flex: 1;
    overflow: hidden;
}

.shop-location p {
    position: relative;
    color: var(--white);
    text-align: start;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 21px;
    font-weight: 800;
    top: -15%;
    left: 5%;
    z-index: 1;
}

.shop-location img {
    width: 100%;
    object-fit: cover;
}

/* Контейнер с коллаборациями */
.collaborations {
    position: relative;
    margin-top: -20%;
    padding: 100px 0 50px;
    background-color: var(--black-total);
    text-align: center;
    z-index: -1;
}

.collaborations h2 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    font-size: 48px;
    font-weight: 800;
    margin: 20% auto 0 auto;
}

.collaborations p {
    color:var(--white);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    margin: 3% auto 3% auto;
}

.collaborations__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1125px;
    margin: 0 auto;
}

.collaborations__grid-cart {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.collaborations__grid-cart img {
    width: 100%;
    border-radius: 6px;
}

/* Контейнер с подвалом */
footer {
    background-color: var(--black-total);
    width: 100%;
    height: 230px;
    margin: 0 auto;
}

.footer__content {
    max-width: 1127px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    margin-top: 0;
}

.footer__center {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.footer__email-adress {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;
}

.footer__email-text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

@media (any-hover: hover) {
    .button:hover {
        background-color: var(--dark-yellow);
    }
}

@media (max-width: 1024px) {
    .header {
        height: auto;
        padding: 20px;
    }

    .header__line {
        width: 95%;
        padding: 20px 0;
    }

    .header__center {
        padding: 150px 0;
    }

    .header__center-title {
        font-size: 50px;
        max-width: 80%;
    }

    .intro h1 {
        font-size: 42px;
        max-width: 70%;
    }

    .intro__text {
        font-size: 15px;
        max-width: 80%;
    }

    .products {
        max-width: 900px;
        gap: 15px;
        margin: 30px auto;
    }

    .product {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .product__info {
        font-family: "Poppins", sans-serif;
        flex-direction: column;
        align-items: flex-start;
    }

    .product__title {
        font-size: 22px;
        color: var(--black-total);
        margin-right: 0;
    }

    .product__price {
        font-size: 14px;
        color: var(--black-total);
    }

    .video {
        width: 90%;
        height: 300px;
    }

    .cooperations {
        max-width: 80%;
        gap: 10px;
    }

    .cooperations__cart {
        flex: 1 1 90%;
        padding: 10px;
        max-width: 70%;
    }

    .prints-techniques {
        width: 90%;
    }

    .realisation {
        width: 90%;
        height: auto;
        padding: 30px;
    }

    .realisation__h2 {
        font-size: 20px;
    }

    .scheme-of-work__h2 {
        font-size: 50px;
    }

    .scheme-of-work__description {
        max-width: 50%;
    }

    .actual-manufacturing__content-cart {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .shops {
        padding: 30px 0;
    }

    .footer__line {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__phone, .footer__email {
        margin-bottom: 15px;
    }

    .footer__center {
        margin-top: 10px;
    }
}

@media (max-width: 767.98px) {
    * {
        box-sizing: border-box;
    }

    .header__line {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px 0;
    }

    .header__logo, .header__phone, .header__email {
        margin-bottom: 15px;
    }

    .header__center {
        margin-top: 0;
        padding: 100px 0;
    }

    .header__center-title {
        font-size: 36px;
        max-width: 90%;
        margin-top: 120px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;

    }

    .intro h1 {
        font-size: 36px;
        max-width: 80%;
    }

    .intro__text {
        font-size: 14px;
        max-width: 85%;
    }

    .products {
        max-width: 90%;
        gap: 10px;
    }

    .product {
        width: 50%;
    }

    .product__info {
        font-family: "Poppins", sans-serif;
        flex-direction: column;
        align-items: flex-start;
    }

    .product__title {
        font-size: 20px;
        color: var(--black-total);
    }

    .product__price {
        font-size: 14px;
        color: var(--black-total);
    }

    .video {
        height: 250px;
    }

    .cooperation {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .cooperations {
        flex-direction: column;
        align-items: center;
        max-width: 1125px;
        width: 100%;
    }

    .cooperations__cart {
        flex: 1 1 auto;
        max-width: 50%;
    }

    .cooperations__cart img {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        border-radius: 6px;
        margin-bottom: 5px;
    }

    .prints-techniques__content {
        flex-direction: column;
        align-items: center;
    }

    .prints-techniques__content-cart {
        flex: 1 1 100%;
        max-width: 80%;
    }

    .realisation {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .scheme-of-work__h2 {
        font-size: 40px;
    }

    .scheme-of-work__description {
        max-width: 70%;
    }

    .actual-manufacturing__content-cart {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .steps {
        flex-direction: column;
        gap: 20px;
    }

    .step {
        max-width: 100%;
    }

    .shops__locations {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
    }

    .shop-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .shop-location img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .shop-location p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .collaborations h2 {
        margin-top: 10%;
        font-size: 36px;
    }

    .collaborations p {
        margin: 2% auto 2% auto;
    }

    .collaborations__grid-cart {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        align-items: center;
        padding: 15px;
    }

    .collaborations__grid-cart img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .footer__line {
        padding: 20px 0;
    }

    .footer__phone, .footer__email {
        margin-bottom: 12px;
    }

    .header__logo-text {
        font-size: 22px;
    }

    .header__logo-title {
        font-size: 14px;
    }

    .footer__center {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .header__line {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .header__center {
        padding: 80px 0;
    }

    .header__center-title {
        font-size: 32px;
        max-width: 100%;
    }

    .button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .section-block {
        text-align: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .section-block h2 {
        font-size: 22px;
        margin: 0 auto;
        max-width: 60%;
        text-align: center;
    }

    .section-block p {
        margin: 10px auto 0;
        max-width: 70%;
    }

    .intro h1 {
        font-size: 28px;
        max-width: 90%;
    }

    .intro__text {
        font-size: 13px;
        max-width: 90%;
    }

    .products {
        width: 90%;
    }

    .product__title {
        font-size: 18px;
    }

    .product__price {
        font-size: 14px;
    }

    .video {
        height: 200px;
    }

    .cooperation__intro {
        padding: 8% 0;
    }

    .cooperations__cart {
        max-width: 100%;
    }

    .prints-techniques__content-cart {
        max-width: 100%;
    }

    .realisation__h2 {
        font-size: 18px;
    }

    .realisation__description {
        font-size: 14px;
    }

    .scheme-of-work__h2 {
        font-size: 30px;
    }

    .scheme-of-work__description {
        max-width: 90%;
        font-size: 14px;
    }

    .steps {
        gap: 10px;
    }

    .step__text {
        font-size: 14px;
    }

    .actual-manufacturing__content {
        flex-direction: column;
    }

    .actual-manufacturing__content-cart {
        max-width: 100%;
    }

    .shops {
        max-width: 350px;
        max-height: 300px;
        padding: 50px 0;
        margin: 5% auto 10% auto;
        z-index: 1;
    }

    .shops__locations {
        display: flex;
        justify-content: center;
        margin: 15% auto 0 auto;
    }

    .shop-location {
        flex: 1;
        overflow: hidden;
    }

    .shop-location p {
        font-size: 14px;
        font-weight: 800;
        margin: -5% 0 -15% 0;
        top: -40px;
        left: -40px;
        z-index: 10;
    }

    .shop-location img {
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .collaborations {
        position: relative;
        margin-top: -10%;
        padding: 100px 0 50px;
        background-color: var(--black-total);
        text-align: center;
        z-index: -2;
    }

    .collaborations h2 {
        margin-top: 130%;
        font-size: 26px;
        max-width: 80%;
    }

    .collaborations p {
        font-size: 14px;
        margin: 2% auto 2% auto;
    }

    .collaborations__grid-cart {
        flex: 1 1 100%;
        max-width: 100%;
        align-items: center;
        padding: 15px;
    }

    .footer__content {
        padding: 0 5px;
    }

    .footer__line {
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
    }

    .footer__phone, .footer__email {
        font-size: 8px;
        margin-bottom: 5px;
    }

    .header__logo-text {
        font-size: 18px;
    }

    .header__logo-title {
        font-size: 12px;
    }

    .footer__content {
        padding: 0 5px;
    }

    .footer__line {
        width: 100%;
        padding: 3px 0;
        margin-top: 0;
    }

    .footer__center {
        margin-top: 0;
    }
}